# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TOTEM_DONGLE

config ZMK_KEYBOARD_NAME
    default "TOTEM"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif 

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

config ZMK_WIDGET_BATTERY_STATUS
    default y
config ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
    default y
config ZMK_WIDGET_OUTPUT_STATUS
    default y

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice


endif

if SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT || SHIELD_TOTEM_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
