# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_COGITO_LEFT
    def_bool $(shields_list_contains,cogito_left)

config SHIELD_COGITO_RIGHT
    def_bool $(shields_list_contains,cogito_right)
